  <nav class="top-bar">
    <ul class="title-area">
    <!-- Title Area -->
      <li class="name">
        <h1><a href="/">Home</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><a href="/">Home</a></li>
        <li class="divider"></li>
        <li><a href="/about">About</a></li>
        <li class="divider"></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </section>
  </nav>
 <!-- End Top Bar -->




<!-- Banner -->
  <div class="row">
    <div class="large-12 columns">      
      <!-- Main Banner Image - place in a paragraph to enforce the modular scale spacing -->
      <p><img src="http://placehold.it/1000x400&text=[banner img]" /></p>
    </div>
  </div>
  <!-- End Banner -->
  
  <!-- Main Content Section -->
  <div class="row">
  
    <div class="large-8 columns">
      <h4>This is a content section.</h4>
      <p>Meggings food truck viral, kale chips 8-bit bitters wayfarers fixie biodiesel selfies Marfa polaroid. Occupy shabby chic swag, craft beer shoreditch american apparel Pinterest +1 pitchfork. Bitters letterpress cray Austin meggings, Williamsburg cred plaid keffiyeh. Meggings cornhole squid lomo fixie occupy tumblr fashion axe helvetica. Pickled fanny pack lo-fi selfies sriracha pop-up. Direct trade food truck wolf tote bag. Umami whatever lomo, dreamcatcher vinyl shabby chic skateboard ennui single-origin coffee.</p>

      <p>Tumblr ethnic roof party gastropub, 90's aesthetic cardigan mumblecore retro post-ironic leggings locavore craft beer. Blog viral seitan whatever umami. Gentrify swag thundercats cornhole pug tattooed, helvetica whatever craft beer sriracha irony Vice salvia. Salvia Portland Tonx +1 polaroid, skateboard four loko. Gastropub roof party vegan helvetica. Readymade photo booth Carles trust fund retro four loko. Tousled squid shabby chic, wayfarers brunch cardigan craft beer +1 cliche photo booth.</p>
      <p><a href="#" class="secondary small button">Next Page &rarr;</a></p>
    </div>
    
    <div class="large-4 columns">
    
      <!-- Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results -->
      
      <ul class="small-block-grid-3">
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
      </ul>
    </div>
        
  </div>
  
  
  <!-- Call to Action Panel -->
  <div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>