/* CSS declarations go here */
body { color: #444; font-size: 16px; }

/* for swipe ==================*/
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
/* ======================== */

.casesContainer {
	clear: both;
	margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;

  border: #333 1px dashed;
}

.caseTitle {
  background: #333;
  color: #fff;
  padding: 6px;
}

.wrap{
  float: right;
}

.imagesContainer {
  float: left;
	position: relative;
  width: 300px;

	z-index:-1;
}

.imagesContainer img {
  max-width: 300px;
}


.descriptionContainer {
  float: right;
	padding: 6px;
	position: relative;

  background-color: #fff;
	z-index:10;
}



@media screen and (max-width: 321px) {
  .casesContainer{
  	width: 300px;
  }
  .imagesContainer {
    float: none;
    margin: 0 auto;
  }
  
  .descriptionContainer  {
    float: none;
    margin: 0 auto;

    background: #ccc;
    width: 100%;
    max-width: 300px;
  }
}

/* more sizes */

@media screen and (max-width: 960px) and (min-width: 768px) {
  .casesContainer{
  	width: 768px;
  }
  .imagesContainer {
  	width: 300px;
  }

  .descriptionContainer  {
    background: #ccc;
    width: 360px;

  }
}

@media screen and (min-width: 961px) {
  .casesContainer{
  	width: 960px;
  }
  .imagesContainer {
  	width: ;
  }

  .descriptionContainer  {
    background: #ccc;
    width: 600px;
  }
}