<div class="row">

	<div class="large-12 columns">
		<h1>Places to Go</h1>
		<p>Hipster shit going on. Like breweries, art galleries, and music venues with band that you have never even heard of.</p>
	</div>	

	<div class="large-12 columns">
		<script id='cartodb-1373332998379' src='http://jgallardo2600.cartodb.com/tables/hipster_sightings/embed_map.js?title=false&amp;description=false&amp;search=false&amp;shareable=false&amp;cartodb_logo=true&amp;scrollwheel=true&amp;sql=&amp;sw_lat=34.07670988726823&amp;sw_lon=-118.29367876052856&amp;ne_lat=34.113314632394946&amp;ne_lon=-118.23874711990356&amp;height=400&amp;id=cartodb-1373332998379'></script>
	</div>
</div>


  <!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; YaTumblr, Inc.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="/about">About</a></li>
          <li><a href="/meetups">Meetups</a></li>
          <li><a href="http://www.tumblr.com/jobs" target="_blank" >Careers</a></li>
          <li><a href="/legal">Legal</a></li>
          <li><a href="/privacy">Privacy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>