<!-- Nav Bar -->

  <div class="row">
    <div class="large-12 columns">
      YaTumblr
    </div>
  </div>

  <!-- End Nav -->


  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
      <h1>Terms of Service<small>Last modified: while drunk</small></h1>
      <hr />
      
      <h2>1. Accepting the Terms of Service</h2>
      <p>Please read these Terms of Service, our <a href="/privacy">Privacy Policy</a>, and our <a href="#">Community guidelines</a> (collectively, the <b>"Boring shit that keeps lawyers employed")</b> carefully before using yatumblr.com (the <b>"Site"</b>) and/or the other domains, products provided by YaTumblr, Inc. (all of those collectively with the Site, the <b>"Services"</b>) (YaTumblr, Inc., a Nigerian corporation, collectively with its agents, consultants, employees, officers and directors, <b>"YaTumblr,"</b> <b>"we,"</b> or <b>"us"</b>). By using or accessing the Services, you (<b>"Subscriber"</b> or <b>"you"</b>) agree to become bound by duct tape and all the terms and conditions of this Agreement. If you do not agree to all the terms and conditions of this Agreement, you shouldn't procreate and aren't permitted to use the Services.</p>

      <h2>2. Modifications to this Agreement</h2>
      <p>YaTumblr reserves the right, in its sole discretion, to modify this Agreement at any time by posting a revised Agreement through the Services and by providing notice to you that this Agreement has changed, generally via text message along with inappropriate selfie where practicable, and otherwise through the Services (such as through a notification in your YaTumblr Dashboard).</p>

      <h2>3. Use of the Services</h2>
      <h3>Eligibility</h3>  
      <p>YaTumblr reserves the right, in its sole discretion, to modify this Agreement at any time by posting a revised Agreement through the Services and by providing notice to you that this Agreement has changed, generally via text message and selfit where practicable, and otherwise through the Services (such as through a notification in your YaTumblr Dashboard).</p>
        
      <h3>Service Changes and Limitations:</h3>
      <p>The Services change frequently, and their form and functionality may change without prior notice to you. But we will LOL after suddenly Facebook it on you and you have no clue where the buttons went.</p>

      <h3>Limitations on Automated Use:</h3>
      <p>If you hack us, we will post your girlfriends selfies. We will also make up fake stories about you and prank call your grandmother.</p>

      <h2>4. Registration, YaTumblr URLs, and Security</h2>
      <p>As a condition to using certain of the Services, you may be required to create an account (an "Account") and select a password and YaTumblr username, which will serve as a default URL of the form [username].yatumblr.com (a "YaTumblr URL"). You may also select new YaTumblr URLs for each blog you create. </p>
      <p>You should provide YaTumblr with accurate, complete, and updated registration information, particularly your e-mail address, home address, social security number, mothers maiden name, bank account number, a few selfies and failure to do so may result in suspension of your Account.</p>

      <h2>5. Privacy</h2>
      <p>Everything you do where will be monitored and we will laugh at you. We likely will post your ugly selfies and make them into memes.</p>



    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->
    <aside class="large-3 columns">
      
      <ul class="side-nav">
        <li><a href="/about">About</a></li>
        <li><a href="/media">Press Info</a></li>
        <li><a href="http://www.tumblr.com/jobs" target="_blank" >Careers</a></li>
        <li><a href="/sponsors">Sponsors</a></li>
        <li><a href="/Terms">Terms</a></li>
        <li><a href="/copyleft">Copyleft</a></li>
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="#">Guidelines</a></li>
      </ul>

      <div class="panel">
        <h5>Featured</h5>
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
        <a href="#">Read More &rarr;</a>
      </div>

    </aside>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; YaTumblr, Inc.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="/about">About</a></li>
            <li><a href="/meetups">Meetups</a></li>
            <li><a href="http://www.tumblr.com/jobs" target="_blank" >Careers</a></li>
            <li><a href="/legal">Legal</a></li>
            <li><a href="/privacy">Privacy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>